body {
    background-image: url('../Img/Wallpaper/3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
    color: silver;
}

.my-header {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.my-newsheader{
    text-align:center;
    color: silver;
}