@{
    ViewBag.Title = RefWeb.Resources.Language.About;
}
<h1>@Html.Label(RefWeb.Resources.Language.CuriculumVitae)</h1>

<h3>Név: S.Nagy Zsolt</h3>
<h3>Személyes adatok:</h3>
<ul>
    <li>Születési hely, idő: Mohács, 1997.02.27.</li>
    <li> Cím: 7759 Lánycsók Dózsa György utca 36</li>
    <li>Telefonszám: +36 30 188 6067</li>
    <li>Email: snagyzsolt97@gmail.com</li>
</ul>
<h3>Tanulmányok:</h3>
<ul>
    <li>
        <p>2011. szeptember - 2015. június</p>
        <p>PSZC Mohácsi Radnóti Miklós Szakgimnáziuma és Szakközépiskolája rendészet</p>
        <p>Érettségi</p>
    </li>
    <li>
        <p>2016. szeptember - 2017. május</p>
        <p>PSZC Mohácsi Radnóti Miklós Szakgimnáziuma és Szakközépiskolája</p>
        <p>hegesztő szakma</p>
    </li>
    <li>
        <p>2017. szeptember - 2019. október</p>
        <p>Pécsi SZC Simonyi Károly Szakgimnáziuma és Szakközépiskola</p>
        <p>Szoftverfejlesztő technikus</p>
    </li>
</ul>
<h3>Munkahelyek:</h3>
<ul>
    <li>
        <p>2019.december - 2020.június</p>
        <p>Mohács Tankerület</p>
        <p>Munkakör: Rendszergazda</p>
    </li>
    <li>
        <p>2020.június - jelenleg</p>
        <p>Újház Gráf Trans</p>
        <p>Munkakör: Rendszergazda</p>
    </li>
</ul>
<h3>Ismereteim:</h3>
<ul>
    <li>C#, ASP.Net, MySQL, PHP, HTML, CSS</li>
    <li>Visual Studio 2019, Unity3d, Blender 2.8, Visual Studio Code</li>
    <li>GitHub, Bitbucket verziókezelő</li>
</ul>
<h3>Gépjárművezetői engedély</h3>
<ul>
    <li>B Kategória 		2016.április.20. 	Érvényes: 2025.február.27.</li>
    <li>A1 Kategória 	2019.augusztus.01. 	Érvényes: 2025.február.27.</li>
</ul>
<h3>Nyelvismeret:</h3>
<p>Angol  szint: kezdő</p>
<h3>Pár szó magamról:</h3>
<p>
    Szabadidőmet többnyire saját projektjeim fejlesztésével és különböző módszerek, megoldások próbálgatásával töltöm egyéb hobbim űzése mellett. 
    Visual Studio 2019-et használok winformos, webbes és Unity3d-s projektjeimhez. Szívesen tanulok és fejlődök. 
    Törekszem az igényes és precíz munkára. Szeretem a kihívásokat és úgy gondolom, jó problémamegoldó képességgel rendelkezem. 
    Angol nyelvismerettel rendelkezem folyamatosan fejlesztem a nyelvtudásom és tanulom a nyelvet.
</p>
    
