@{
    ViewBag.Title = RefWeb.Resources.Language.Contact;
}

    <h2>@Html.Label(RefWeb.Resources.Language.Contact)</h2>

<address>
    <strong>@Html.Label(RefWeb.Resources.Language.email):</strong>   <a href="snagyzsolt97@gmail.com">snagyzsolt97@gmail.com</a><br/>
    <p><strong>@Html.Label(RefWeb.Resources.Language.Phone):</strong> +36 30 188 6067</p>
</address>