@{
    ViewBag.Title = RefWeb.Resources.Language.Home;
}

<div>
    <h2>@RefWeb.Resources.Language.News:</h2>
</div>

@{
    List<RefWeb.Models.mdlNews> lstnews = RefWeb.Scripts.CSharp.SQLCommands.GetNews();

    foreach (RefWeb.Models.mdlNews n in lstnews)
    {
        <div>
            <h4>@n.NewsName</h4>
            <p>@n.NewsDate</p>
            <h5>@n.NewsDescription</h5>
        </div>
        <hr/>
    }
}

